.header {
  width: 100%;
  background-color: var(--c-bg-content);
  border-radius: 0 0 30px 30px;
  box-shadow:
    0 1px 4px #0000001a,
    0px 4px 16px #0000001a;
  margin: 0 auto;
}

.container {
  display: flex;
  padding: 8px 24px 0;
  margin: 0 auto;
}

.logoLink {
  width: calc(100% - 80px);
}

.logo {
  color: var(--c-text-logo);
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header {
    width: calc(100% - 14px);
    border-radius: 0 0 45px 45px;
  }
}
