.header {
    width: 100%;
    background-color: var(--bg-main-color);
    border-radius: 0 0 min(max(4vw, 30px), 50px) min(max(4vw, 30px), 50px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.header h1 {
    color: var(--logo-color);
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
    padding: 8px 0 0 0;
    text-align: center;
}

.header ul {
    display: flex;
    list-style: none;
    margin: 0 auto;
    max-width: 96%;
    overflow-x: scroll;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.header ul::-webkit-scrollbar {
    display: none;
}

.header li {
    display: inline-flex;
    margin: .5rem 0 .5rem .2rem;
    position: relative;
}

.header li a {
    padding: .2rem .5rem;
}

.header li a:hover {
    background-color: #bbb;
    border-radius: .5rem;
    color: #fff;
}

.header li:first-child {
    margin-right: .8rem;
}

.header li:first-child::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: #bbb;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -.5rem;
}

@media screen and (min-width: 768px) {
    .header {
        width: calc(100% - 14px);
    }
}