.aside {
    width: 300px;
    margin: 0 0 0 30px;
}

.container {
    height: 100%;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}

.aside ol {
    margin-left: 1.5rem;
}

.aside ol ol {
    margin-top: 0;
}

.aside ul {
    margin-left: 0;
}

.title {
    background-image: linear-gradient(130deg, rgba(230, 251, 213, 1), rgba(197, 247, 253, 1));
    border-radius: 21px;
    color: #535353;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 1.5rem;
}

.content {
    padding: 0 1.5rem;
}

.toc a {
    color: var(--c-text-main);
}

.follow .content {
    text-align: center;
}

.icons {
    display: inline-flex;
    list-style: none;
}

.icons li:not(:first-child) {
    margin-left: 1rem;
}

.icon {
    background-color: var(--c-bg-content);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    padding: 12px;
}

@media screen and (max-width: 768px) {
    .aside {
        display: none;
    }
}