.container {
  background-color: var(--c-bg-content);
  border-radius: 24px;
  box-shadow: 0px 4px 4px #0000001a;
  margin: 24px auto;
  max-width: 680px;
  padding: 24px;
}

.title {
  margin: 0;
}

@media (max-width: 704px) {
  .container {
    width: calc(100vw - 24px);
  }
}
