.item {
    background-color: var(--bg-main-color);
    border-radius: 24px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
    display: block;
    padding: 0 24px 24px 24px;
}

.item:hover {
    background-color: var(--bg-hover-color);
    color: var(--text-sub-color);
    transition: box-shadow 0.3s ease-in-out;
}

.item h1 {
    font-size: 1rem;
    margin-top: .5rem;
}

.item p {
    margin-top: 1.5rem;
}

.date {
    color: var(--text-sub-color);
}

.category {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 100vh;
    color: var(--bg-main-color);
    padding: 4px 10px;
    margin: 0 0 0 1rem;
}