.article {
  background-color: var(--c-bg-content);
  border-radius: var(--r-m);
  box-shadow: 0px 2px 4px #0000001a;
  box-sizing: border-box;
  margin: 0 0 0 12px;
  width: calc(100% - 24px);
  padding: 0 var(--s-m) var(--s-m) var(--s-m);
}

.article a {
  text-decoration: underline;
}

.article p {
  line-height: 2;
  letter-spacing: 0.025rem;
}

.article figure {
  background-color: var(--c-gray-0);
  border-radius: 11px;
  padding: 5px;
}

.info {
  display: flex;
  align-items: center;
  margin: 1rem 0 0;
}

.date {
  color: var(--c-text-sub);
}

.category {
  background-color: var(--c-text-link);
  border: 1px solid var(--c-text-link);
  border-radius: 100vh;
  color: var(--c-bg-content);
  font-size: 0.9rem;
  margin: 0 0 0 0.5rem;
  padding: 2px 8px 1px;
}
.category:hover {
  background-color: var(--c-text-link-hover);
}

.category a {
  color: var(--c-bg-content);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .article {
    margin: 0;
    width: 100%;
  }
}
