.container {
  position: relative;
  left: -90px;
}

.share {
  position: absolute;
  height: 100%;
  width: 60px;
}

.buttons {
  background-color: var(--c-bg-content);
  border-radius: 30px;
  box-shadow: 0px 4px 4px #0000001a;
  margin-top: 100px;
  padding: 10px 0;
  position: sticky;
  text-align: center;
  top: 100px;
}

@media screen and (max-width: 1300px) {
  .share {
    display: none;
  }
}
