.share0 {
    position: relative;
    left: -90px;
}

.share {
    position: absolute;
    height: 100%;
    width: 60px;
}

.shareInner {
    background-color: var(--c-bg-content);
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 100px;
    margin-top: 100px;
}

.buttons {
    padding: 10px 0;
    text-align: center;
}

@media screen and (max-width: 1300px) {
    .share {
        display: none;
    }
}