.container {
    background-color: var(--c-bg-content);
    border: 2px solid var(--c-gray-0);
    border-radius: 12px;
    margin: 30px 0 0 12px;
    padding: 24px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.comment:nth-child(even) {
    background-color: var(--c-bg-main);
}

.form {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0;
}

.form label {
    color: var(--c-text-sub);
    font-size: 1rem;
}

.form input,
.form textarea {
    background-color: var(--c-bg-main);
    border: 1px solid color-mix(in srgb, var(--c-bg-main), #000 20%);
    border-radius: 8px;
    font-family: inherit;
    font-size: 1rem;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.form button {
    background-color: var(--c-text-link);
    border: none;
    border-radius: 8px;
    color: var(--c-bg-content);
    cursor: pointer;
    font-size: 1rem;
    padding: 5px 10px;
}

@media screen and (min-width: 768px) {
    .container {
        margin: 30px auto 0;
    }
}
