.container {
  background-color: var(--c-bg-content);
  border: 2px solid var(--c-gray-0);
  border-radius: var(--r-m);
  margin: 30px 0 0 12px;
  padding: var(--s-m);
  width: calc(100% - 24px);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.comment {
  border-radius: var(--r-s);
  margin: var(--s-s) 0 0;
  padding: var(--s-s);
  white-space: pre-wrap;
}

.comment:nth-child(even) {
  background-color: var(--c-bg-main);
}

.commentInfo {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
}

.commentName {
  font-weight: bold;
}

.commentText {
  margin: 8px 0 0;
}

.noComments {
  color: var(--c-text-sub);
  margin: 12px 0;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 8px 0 0;
}

.form label {
  color: var(--c-text-sub);
  font-size: 1rem;
}

.form input,
.form textarea {
  background-color: var(--c-bg-main);
  border: 1px solid color-mix(in srgb, var(--c-bg-main), #000 20%);
  border-radius: 8px;
  font-family: inherit;
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 5px 10px;
}

.form button {
  background-color: var(--c-text-link);
  border: none;
  border-radius: 8px;
  color: var(--c-bg-content);
  cursor: pointer;
  font-size: 1rem;
  padding: 5px 10px;
}

.turnstile {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 30px auto 0;
    width: 100%;
  }
}
