.footer {
  background-color: var(--c-bg-content);
  border-radius: 30px 30px 0 0;
  box-shadow: inset 0 1px 4px #0000001a, inset 0 4px 16px #0000001a;
  margin: 30px auto 0;
  padding: 32px 0;
  text-align: center;
  width: 100%;
}

.footer a {
  color: inherit;
}
.footer a:hover {
  color: var(--c-text-link);
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  width: fit-content;
  justify-content: center;
}

.navigation ul li {
  margin: 0.5rem 0 0;
  width: 50%;
}

@media screen and (min-width: 480px) {
  .footer {
    width: calc(100% - 14px);
  }
  .navigation ul li {
    width: fit-content;
  }
  .navigation ul li:not(:first-child) {
    margin-left: 0.9rem;
  }
}
