.container {
    position: relative;
    left: -24px;
}

.thumbnail {
    border-bottom: 1px solid var(--c-gray-0);
    border-radius: 24px 24px 0 0;
    height: auto;
    max-width: calc(100% + 48px);
    object-fit: cover;
}