.article {
    background-color: var(--bg-main-color);
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    line-height: 1.7;
    margin: 0 0 0 2%;
    max-width: 96%;
    padding: 0 24px 24px 24px;
}

.article a {
    text-decoration: underline;
}

.article figure {
    background-color: var(--decoration-color);
    border-radius: 11px;
    padding: 5px;
}

.container {
    display: flex;
    max-width: 1180px;
    margin: 30px auto 0;
}

.date {
    color: var(--text-sub-color);
}

.category {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 100vh;
    color: var(--bg-main-color);
    padding: 4px 10px;
    margin: 0 0 0 1rem;
}

.category:hover {
    background-color: var(--text-hover-color);
}

.category a {
    color: var(--bg-main-color);
    text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1180px) {
    .article {
        margin: 0;
        max-width: calc(100% - 330px);
    }
    .container {
        padding: 0 40px;
    }
}

@media screen and (min-width: 1180px) {
    .article {
        margin: 0;
        max-width: calc(100% - 330px);
    }
    .container {
        padding: 0 40px;
    }
}