.container {
  display: flex;
  max-width: 1180px;
  margin: 30px auto 0;
}

@media screen and (min-width: 768px) and (max-width: 1180px) {
  .contents {
    width: calc(100vw - 330px);
  }
  .container {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1180px) {
  .contents {
    width: calc(100% - 330px);
  }
  .container {
    padding: 0 40px;
  }
}
